<div class="row col-12 hero">
  <ng-container *ngIf="character$ | async as character">
    <div class="col-12 col-md-9 col-lg-8 card p-0 cover">
      <img
        class="img-fluid"
        src="{{ character.thumbnail?.path }}.{{
          character.thumbnail?.extension
        }}"
      />
    </div>
    <div class="col-11 col-md-6 col-lg-5 card description">
      <div class="shared"></div>
      <div class="favorite"></div>
      <p class="card-title">
        {{ character.name }}
      </p>
      <p class="card-details">
        Updated {{ character.modified | date: 'MMMM yyyy' }}
      </p>
      <p class="card-text">
        {{ character.description }}
      </p>
    </div>
  </ng-container>
</div>
<div class="container">
  <div class="row col-12">
    <div class="mt-5 title">Comics</div>
    <div class="d-flex mt-2 mb-5 comics">
      <ng-container *ngIf="(comics$ | async)?.results as comics">
        <ng-container *ngFor="let comic of comics">
          <div class="d-grid">
            <div class="card p-0">
              <img
                class="img-fluid h-100"
                src="{{ comic.thumbnail?.path }}.{{
                  comic.thumbnail?.extension
                }}"
              />
            </div>
            <p class="text">
              {{ comic.title }}
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
